/* basic CSS to style the survey form */

form{
   background-color: rgba(92, 56, 139, 0.9);
  color: rgb(245, 255, 250);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 215, 0);
  width: 60vw;
  max-width: 700px;
  min-width: 350px;
  margin: 0 auto;
  padding: 15px 15px 25px 15px;  
}
.man{
  padding:auto;
}

input, select {
  margin-bottom: 10px; 
}

#submit {
  background-color: #0d6efd;  
  color: white;
  padding: 10px 15px;
  border: none;  
}

textarea {
  width: 100%;
}
label {
  display: block;
}
h1, p {
  text-align: center;
}
body {
  background-image: url("https://t4.ftcdn.net/jpg/01/64/37/35/240_F_164373509_V2qqmZuSVW1Wrtp6LpW1YVvABdr12cAO.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(245, 255, 250);
  font-family: Perpetua;
  font-size: 24px;
}

